* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

.bg-color {
    background-color: #1E1E1E;
}

.color-white {
    color: white;
}

.color-2 {
    color: rgba(255, 255, 255, 0.52);
}

.max-w-220 {
    max-width: 220px;
}

.max-w-290 {
    max-width: 290px;
}

.pos-absoulte {
    position: absolute;
    top: -40px;
    right: -30px;
}

.moon {
    display: none;
}

.col-hover:hover .moon {
    display: unset;
}

/* .card-box:hover .moon {
    display: unset;
} */

.card-box-border {
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 12px;
}

.col-hover:hover .card-box {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
    border-radius: 12px;
    cursor: pointer;
}

.fw-500 {
    font-weight: 500;
}


.box-2 {
    max-width: 421px;
    border-radius: 7px;
    border: 3px solid transparent;
    background: transparent;
    position: relative;
    padding: 3px;
}

.box-2::after {
    content: "";
    position: absolute;
    border-radius: 7px;
    padding: 3px;
    background: linear-gradient(-213deg, rgba(255, 125, 250, 0.56) 12.39%, rgba(253, 0, 243, 0.34) 48.48%, rgba(34, 162, 255, 0.35) 64.08%, rgba(34, 162, 255, 0.28) 76.52%);
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;
}

.box {
    background: linear-gradient(107.21deg, rgba(255, 255, 255, 0.26) 2.84%, rgba(255, 255, 255, 0.06) 73.23%) padding-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 24px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    max-width: 421px;
}

/* 

@media (max-width:576px) {
    .pos-absoulte {
        position: absolute;
        top: -40px;
        right: 0;
    }
}